body {
    background-image:url("background-2579719_960_720.jpg");
    background-repeat: no-repeat;
  }

  p {
    font-family:'Raleway', fantasy;
    text-align: center;
    color: black;
    font-size: 20px

  }

  h1 {
    font-family:'Raleway', cursive;
    font-weight: bold;
    text-align: center;
    color: maroon;
    font-size: 65px;
    margin-right: auto;
  }

  a {
    font-family:'Raleway', cursive;
    color: darkred;
    text-align: right;
  }

  .navigation-bar{
    height:auto;
    padding: 10px;
    border-style:double white;
    border-radius: 5px;
    background: black;
    opacity: 0.5;
  }

  .navlinks{
    Margin-Left: 20px;
    Font-size: 35px;
    color: black;
    border: 10px 10px;
    background: white;
    border-style: 1px double;
    width: auto;
    font-family:'Raleway', cursive;
  }

  .credittext {
    text-align: center;
    font-size: 11px;
    margin: 0 auto;
    width: 178px;
    font-family:'Raleway', fantasy;
  }

.pictures {
    border-radius: 190px;
    border: solid white;
    height: 202px;
    margin-top: 31px;
    max-width: 200;
  }

