body {
    background-image:url("background-2579719_960_720.jpg");
    background-repeat: repeat;
  }

  p {
    font-family:'Poiret One', fantasy;
    text-align: center;
    color: black;
    font-size: 20px

  }

  h1 {
    font-family:'Rock Salt', cursive;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 65px;
    margin-right: auto;
  }

  a {
    font-family:'Poiret One', cursive;
    color: black;
    text-align: right;
  }

  .navigation-bar{
    height:auto;
    padding: 10px;
    border-style: double white;
    border-radius: 5px;
    background: linear-gradient(black, violet, black);
    opacity: 0.65;
    width: 100%
    position: fixed;
  }

  .navlinks{
    Margin-Left: 20px;
    Font-size: 35px;
    color: black;
    background: white;
    border-radius: 10% ;
    width: auto;
    font-family:'Rock Salt', cursive;
  }
    
.a: hover{
    opacity: 0.5;
    background-color: black;
    color: black;
    box-shadow: 5px 5px 5px teal;
}

.a: active{
    opacity: 0.5;
    background-color: white;
    color: pink;
}

.a: visited{
    color: violet;
}
    

  .credittext {
    text-align: center;
    font-size: 11px;
    margin: 0 auto;
    width: 178px;
    font-family:'Poiret One', fantasy;
  }

.pictures {
    border-radius: 190px;
    border: solid white;
    height: 202px;
    margin-top: 31px;
    max-width: 200;
  }

#content {
    font-family:'Poiret One', fantasy;
    text-align: center;
    color: black;
    padding: 50px 50px;
}

